header{
  height: 5em;
  display: flex;
  align-items: center;
  position: absolute;
}
.logo{
  width: 5em;
  height: 1.5em;
}
.desktop--nav{
  display: none;
}
@media screen and (min-width: 768px) {
  header{
    padding: 0 3em;
  }
  .desktop--nav{
    display: flex;
    margin-left: 5em;
  }
  .desktop--itemContainer{
    display: flex;
    width: 25em;
    justify-content: space-between;
  }
  .desktop--item{
    list-style: none;
    width: 5em;
    line-height: 2em;
  }
  .desktop--item > a{
    text-align: center;
    font-size: 1.2em;
    display: block;
    text-decoration: none;
    color: var(--White);
  }
}