@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');
@import url('./movileNav.css');
@import url('./desktopNav.css');
@import url('./carousel.css');
:root{
  --Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --Black-opacity: hsla(0, 0%, 0%, 0.404);
  --White: hsl(0, 0%, 100%);
  --Dark-Gray: hsl(0, 0%, 27%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'League Spartan', sans-serif;
}
body{
  background-color: gray;
}

